dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
out.js
out.stats
rts.js
runmain.js
lib.js
all.js
*.js_o
*.js_hi
.DS_Store
*~
manifest.webapp
TAGS
\#*\#
.\#*
# thanks to https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore
